

/* Here is where I can insert personal comments about the style guide.
I changed the width of the sections from 60% to 30%. Also, note that the
last three elements have a differet background color */

body {
  font-size: 14px; font-family: sans-serif;
}

nav {
  background-color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

section {
  margin: 0 auto;
  width: 30%;
}

h1 {
  text-align: center;
  font-size: 3em;
}

h3 {
  padding-top: 30px;
  text-align: center;
  font-size: 1.3em;
}

div {
  background-color: green;
  height: 100px;
  margin 10px 0;
  width: 100%;
}

div.element {
  background-color: pink;
  height: 100px;
  margin 10px 0;
  width: 100%;
}
